name: flutter_base

environment:
  sdk: ^3.8.1

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  get_it: ^9.0.5
  flutter_bloc: ^9.1.1
  sqflite_sqlcipher: ^3.4.0
  shared_preferences: ^2.5.3
  hive_flutter: ^1.1.0
  rxdart: ^0.28.0
  just_audio: ^0.10.5
  audio_service: ^0.18.18
  flutter_widget_from_html_core: ^0.17.0
  fluttertoast: ^9.0.0
  wakelock_plus: ^1.4.0
  http: ^1.6.0
  downloader:
    git:
      url: https://github.com/omar-adel-7/FlutterDownloader.git

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true